<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" title="Home">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Simone Iengo, Personal-CRM, Tutti i diritti riservati. Il presente prodotto é in fase di sviluppo, alcune componenti sono soggette a limiti di copia e/o uso, si prega di verificare il file di licensa consegnatovi dal vostro agente.</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a href="#" class="text-body-secondary" title="Twitter">
          <i class="bi bi-twitter"></i>
        </a>
      </li>
      <li class="ms-3">
        <a href="#" class="text-body-secondary" title="Instagram">
          <i class="bi bi-instagram"></i>
        </a>
      </li>
      <li class="ms-3">
        <a href="#" class="text-body-secondary" title="Facebook">
          <i class="bi bi-facebook"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
