<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard">
      <img src="../../../../assets/img/logo standard.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Nome Agenzia
    </a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" aria-current="page" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/policy" routerLinkActive="active">Polizze</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="clients" routerLinkActive="active">Clienti</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/invoice" routerLinkActive="active">Gestione Incassi</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/calendar" routerLinkActive="active">Calendario</a>
        </li>
      </ul>
      <form class="d-flex gap-2">
          <button class="btn btn-outline-success" type="submit" routerLink="/profile" *ngIf="isLoggedIn()">Profilo Utente</button>
          <button class="btn btn-outline-success" type="submit" (click)="onLogout()" *ngIf="isLoggedIn()">Logout</button>
          <button class="btn btn-outline-light" type="button" (click)="toggleTheme()" title="Toggle Theme">
              <i [ngClass]="theme === 'dark' ? 'bi bi-sun' : 'bi bi-moon'"></i>
          </button>
      </form>
    </div>
  </div>
</nav>
